.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.formContainer input {
  width: 24rem;
  height: 3rem;
  border-radius: 4px;

  border: 0;
  background: var(--zinc-800);
  color: var(--zinc-100);
  text-align: center;

  transition: background 0.2s;
}

/* .formContainer input:hover {
  background: var(--zinc-700);
  outline: 0;
} */

.formContainer input:focus {
  background: var(--zinc-700);
  outline: 0;
}

.formContainer input::placeholder {
  color: var(--zinc-400);
}

.formContainer button {
  width: 12rem;
  height: 4rem;
  border-radius: 4px;

  border: 1px solid var(--zinc-950);
  background: var(--zinc-700);
  color: var(--zinc-100);

  transition: background 0.2s;
}

.formContainer button:hover {
  background: var(--zinc-600);
}