.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.formContainer input, .formContainer select {
  width: 24rem;
  height: 3rem;
  border-radius: 4px;

  border: 0;
  outline: 0;
  background: var(--zinc-800);
  text-align: center;
}

.formContainer input {
  color: var(--zinc-100);
  transition: background 0.2s;
}

.formContainer select {
  color: var(--zinc-400);
  cursor: pointer;
  transition: color, background 0.2s;
}

.formContainer input::placeholder {
  color: var(--zinc-400);
  transition: color 0.2s;
}

.formContainer input:hover::placeholder{
  color: var(--zinc-100);
}

.formContainer select:hover  {
  color: var(--zinc-100);
}

.formContainer input:focus, .formContainer select:focus:hover {
  background: var(--zinc-700);
}

.formContainer button {
  width: 12rem;
  height: 4rem;
  border-radius: 4px;

  border: 1px solid var(--zinc-950);
  background: var(--zinc-700);
  color: var(--zinc-100);

  transition: background 0.2s;
}

.formContainer button:hover {
  background: var(--zinc-600);
}
