.table {
  width: 100%;
  margin-bottom: 2rem;
  border: 1px solid;
  border-collapse: collapse;
}

.table th, .table td {
  padding: 10px;
}

.table td:first-child {
  width: auto;
}

.table td:nth-child(2), .table td:nth-child(3) {
  width: 15%;
}

.table td:last-child {
  width: 25%;
}

.table td {
  border-bottom: 1px solid;
}

.table thead {
  text-align: left;
}

.table tr:nth-child(odd) {
  background: var(--zinc-800);
}

.table tr:nth-child(even) {
  background: var(--zinc-700);
}

.table thead tr:first-child {
  color: var(--zinc-900);
  background: var(--zinc-200);
}