.topThreeCard {
  width: 20rem;
  padding: 1.5rem;
  border-radius: 4px;
  color: var(--zinc-900);
}

.bronze {
  margin-top: 8rem;
  background-color: var(--bronze);
}

.silver {
  margin-top: 4rem;
  background-color: var(--silver);
}

.gold {
  background-color: var(--gold);
}

.teamName {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.teamStats {
  padding: 2rem 1rem 1rem;
}

.teamStats span {
  display: block;
}

/* Making Icons inline for Top 3 cards */
.topThreeCard svg {
  display: inline;
}